<div class="container1">
	<div class="containerTitle">
		<p>Видове Колоездене</p>
	</div>
	<div class="containerInfo">
		<p>Колоезденето е спорт, в който се организират състезания между спортисти, каращи велосипеди. Състезанията могат да бъдат
			на различни настилки и терени и с различни велосипеди.</p>
	</div>

	<div class="card">
		<a href="/cycling/yt" class="cardImg">
			<img src="/media/p5pb15312150.jpg" alt="downhill">
		</a>
		<a href="/cycling/yt" class="cardLink">Downhill</a>
	</div>
	<div class="card">
		<a href="#" class="cardImg">
			<img src="/media/p5pb15312150.jpg" alt="downhill">
		</a>
		<a href="#" class="cardLink">Downhill</a>
	</div>
	<div class="card">
		<a href="#" class="cardImg">
			<img src="/media/p5pb15312150.jpg" alt="downhill">
		</a>
		<a href="#" class="cardLink">Downhill</a>
	</div>
	<div class="card">
		<a href="#" class="cardImg">
			<img src="/media/p5pb15312150.jpg" alt="downhill">
		</a>
		<a href="#" class="cardLink">Downhill</a>
	</div>
	<div class="card">
		<a href="#" class="cardImg">
			<img src="/media/p5pb15312150.jpg" alt="downhill">
		</a>
		<a href="#" class="cardLink">Downhill</a>
	</div>
	</div>