<div class="container1">
	<div class="containerTitle">
		<p>Видове Колоездене</p>
	</div>
	<div class="containerInfo">
		<p>Колоезденето е спорт, в който се организират състезания между спортисти, каращи велосипеди. Състезанията могат да бъдат
			на различни настилки и терени и с различни велосипеди.</p>
	</div>

	<div class="card">
		<a href="/cycling/downhill" class="cardImg">
			<img src="/media/cyclingImg/downhill.jpg" alt="downhill">
		</a>
		<a href="/cycling/downhill" class="cardLink">Спускане (downhill) DH</a>
	</div>
	<div class="card">
		<a href="/cycling/cross-country-xc" class="cardImg">
			<img src="/media/cyclingImg/cross-country.jpg" alt="cross-country">
		</a>
		<a href="/cycling/cross-country-xc" class="cardLink">Крос-кънтри (cross-country) - XC</a>
	</div>
	<div class="card">
		<a href="/cycling/freeride" class="cardImg">
			<img src="/media/cyclingImg/freeride.jpg" alt="freeride">
		</a>
		<a href="/cycling/freeride" class="cardLink">Фрийрайд (freeride) FR</a>
	</div>
	<div class="card">
		<a href="/cycling/dirt-jump" class="cardImg">
			<img src="/media/cyclingImg/dirt-jump.jpg" alt="dirt-jump">
		</a>
		<a href="/cycling/dirt-jump" class="cardLink">Dirt Jump - DJ</a>
	</div>
	{{!-- <div class="card">
		<a href="#" class="cardImg">
			<img src="/media/cyclingImg/trials.jpg" alt="trials">
		</a>
		<a href="#" class="cardLink">Траял (trials)</a>
	</div> --}}
	<div class="card">
		<a href="/cycling/street" class="cardImg">
			<img src="/media/cyclingImg/street.jpg" alt="street">
		</a>
		<a href="/cycling/street" class="cardLink">Street</a>
	</div>
	</div>