<footer>
	<div class="footer">
		<div class="wrapper">
			<div class="contain">
				<div class="col">
					<h1>Bikeable</h1>
					<ul>
						<li>
							<a href="/">Начало</a>
						</li>
						<li>
							<a href="/koloezdene">Колоездене</a>
						</li>
						<li>
							<a href="/articles">Статии</a>
						</li>
						<li>
							<a href="/bikes">Байкове</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
					</ul>
				</div>
				<div class="col">
					<h1>Resources</h1>
					<ul>
						<li>
							<a href="http://www.mtb-bg.com/">www.mtb-bg.com</a>
						</li>
						<li>
							<a href="https://www.wikipedia.org/">www.wikipedia.org</a>
						</li>
						<li>
							<a href="https://www.pinkbike.com/">www.pinkbike.com</a>
						</li>
						<li>
							<a href="https://www.youtube.com/">www.youtube.com</a>
						</li>
					</ul>
				</div>
				<div class="col social">
					<h1>Social</h1>
					<ul>
						<li>
							<a href="https://www.facebook.com/stefcho.kalenderov">
								<img src="/media/footer/facebook.svg" width="32" style="width: 32px;">
							</a>
						</li>
						<li>
							<a href="https://github.com/karambyte3">
								<img src="/media/footer/github.png" width="32" style="width: 32px;">
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCVn6MXTtgltjnsPPSu0ka5g">
								<img src="/media/footer/youtube.png" width="32" style="width: 32px;">
							</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="clearfix"></div>
			<div class="footer-about">
				<p>Website is created by
					<a href="https://github.com/karambyte3" class="stefan">Stefan Kalenderov</a>
				</p>
				<p>Copyright &copy; 2018 www.bikeable.tk</p>
			</div>
		</div>
	</div>
	<!-- END OF FOOTER -->

</footer>