<header>
	<div id="hamburger">
		<a href="javascript:void(0);" id="toggleMenu" class="icon" onclick="toggleMenu()">&#9776;</a>
	</div>

	<div class="nav">
		<ul id="menu" class="nav">
			<li class="btn">
				<a href="/">Начало</a>
			</li>
			<li class="btn">
				<a href="/koloezdene">Колоездене</a>
			</li>
			<li class="btn">
				<a href="/articles">Статии</a>
			</li>
			<li class="btn">
				<a href="/bikes">Байкове</a>
			</li>
			<li class="btn">
				<a href="/about">About</a>
			</li>
		</ul>
	</div>
</header>