<link rel="stylesheet" href="/404/404.css">

<div class="container404">
	<div class="container404-background">
		<div class="filter404"></div>
			<div class="container404-content">
				<h1>Oops!</h1>
				<h1>Error</h1>
				<h1>404</h1>
				<p>Sorry, requested page not found.</p>
				<a href="/" class="container-button button404">Click here to go home</a>
			</div>
	</div>
</div>