{{>slider}}

<div class="wrapper">
	{{>cyclingTemplate}}
</div>

<div class="container2" align="center">
	<div class="containerHeader">
		<div class="containerTitle">
			<p>Статии</p>
		</div>
		<div class="containerInfo">
			<p>В този раздел вие можете да прочетете интересни и полезни статии.</p>
		</div>
	</div>

	<div class="span">
		<div class="article" style="border-radius: 300px 400px 150px;">
			<img src="/media/p5pb15312150.jpg">
			<p>YT - Живей без окови!</p>
		</div>
	</div>
	<div class="span">
		<div class="article" style="border-radius: 150px 250px 120px">
			<img src="/media/p5pb15312150.jpg">
			<p>YT - Живей безasdasffsffafa окови!</p>
		</div>
	</div>
	<div class="span">
		<div class="article" style="border-radius: 450px 150px 300px">
			<img src="/media/p5pb15312150.jpg">
			<p>YT - Живей без оковasdasи!</p>
		</div>
	</div>

	<a href="/articles" class="container-button" id="articles-button">
		Прочети повече . . .
	</a>
</div>

<div class="wrapper">
	<div class="container3" align="center">	
		<div class="containerHeader">
			<div class="containerTitle">
				<p>Байкове</p>
			</div>
			<div class="containerInfo">
				<p>В този раздел вие ще се запознаете с едни от най-известните марки байкове, за които бихте си продали бъбреците.</p>
			</div>
		</div>
		
		<div class="bikeCard">
			<h1 style="font-size:25px; font-family: 'Oswald', sans-serif; margin-bottom:10px; font-weight:bolder; color: rgb(92, 92, 92);">Canyon набелязва линията за спускане с модела Sender</h1>
			<img src="/media/sender.jpg" style="vertical-align:middle; margin:0">
				<p style="display:inline-block">Заглавието на статията съответства на рекламното мото (Draw The Line), избрано от германския производител за кампанията по
				представяне на чисто новия модел за спускане, наречен Sender. Подробностите за него бяха обявени броени дни преди откриването
				на DH сезона в
				<a href="/bikes" id="card-button" class="container-button c3-button" style="display:block; width: 150px;vertical-align:middle;">Прочети повече</a>
				</p>
		</div>
	</div>
</div>

