<style>
    .content p {
        border-left: 3px solid rgb(0, 66, 46);
    }

    .video {
        background-color: rgb(0, 66, 46);
    }
</style>

<div class="wrapper">
    <div id="article-container">
        <div id="main" align="center">
            <h1 style="border-color: rgb(0, 77, 41)">Крос-кънтри (cross-country) - XC</h1>
            <p>Вид каране в планинското колоездене, който се характеризира с това, че колоездачът преодолява разнообразни терени
                с наклони и в двете посоки (нагоре и надолу), като се стреми да кара байка си на повечето места. </p>
        </div>



    </div>

</div>
<div class="fullWidthImg" style="background-image: url('../media/cyclingImg/cross-country.jpg'); background-position: center; height:600px"></div>

<div class="content">
    <div class="wrapper">

        <p>Вид каране в планинското колоездене, който се характеризира с това, че колоездачът преодолява разнообразни терени
            с наклони и в двете посоки (нагоре и надолу), като се стреми да кара байка си на повечето места (при по-стръмни
            наклони може да се наложи и да го бута). Често е свързано с преодоляването на по-големи разстояния и разлики
            във височините. Практикува се в най-различни варианти, включително и като състезателна дисциплина. Велосипедите,
            подходящи за този вид каране, са най-различни - от ХС твърдаци до АМ/ендуро байкове - в зависимост от варианта,
            който практикувате, но във всички случаи теглото и ефективността при педалиране са от голямо значение. Екипировката
            варира в зависимост от терена и условията, но като цяло включва леки и проветриви дрехи, каска, ръкавици и очила.
            При спускане по технични пътеки много хора предпочитат да добавят и наколенки, а понякога и налакътници.
        </p>

    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LnSWPUo83ww" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="wrapper">
        <h3>Това е най-масовата дисциплина по няколко причини.</h3>

        <p>Първо, тя може да се практикува сравнително евтино. За крос-кънтри може да се използва и твърдо колело, макар че
            за предпочитане е да имате поне амортисьорна вилка. Не се изисква и кой знае каква защитна екипировка - единственото
            задължително нещо е каската. Разбира се, и за крос-кънтрито има скъпи и супер-леки байкове с предно или двойно
            окачване, както и много високотехнологични дрешки и други благинки, стига човек да е готов да плати цената. Като
            се замисля, крос-кънтрито може да бъде както най-достъпната, така и най-скъпата дисциплина - всичко зависи от
            вас. </p>

        <p>Второ, при нея не се изисква много смелост и техничност - ако искате, карате бързо, ако не - карате по-бавно. Физическата
            подготовка трябва да е на ниво, но това ниво отново зависи от вас - ако обичате стръмните склонове, атакувайте
            ги, ако не - има достатъчно маршрути, които са по-равни и по-леки. Трето, можете да карате крос-кънтри със семейството
            си или с група приятели. При спускането също може да отидете заедно, но няма начин да карате един до друг и да
            си приказвате - там общуването става на старта и на финала. </p>

        <p>Четвърто, при крос-кънтрито карачът може да разглежда природата наоколо и различните забележителности на района,
            т.е. то е не само спорт, но и туризъм. Вероятно могат да се намерят и други причини за популярността на този
            стил, но и тези са достатъчни. Искам само да подчертая, че те не са някакви предимства спрямо другите дисциплини,
            а просто са тези предпоставки, които правят крос-кънтрито най-разпространеният начин на каране.</p>

        <img class="image-png" src="/media/cyclingImg/xcBike.jpg" alt="Downhill bike example">
    </div>
</div>
</div>