<style>
    .content p {
        border-left: 3px solid rgba(0, 140, 145, 0.767);
    }

    .video {
        background-color: rgba(0, 140, 145, 0.452);
    }
</style>

<div class="wrapper">
    <div id="article-container">
        <div id="main" align="center">
            <h1 style="border-color: rgba(0, 140, 145, 0.767)">Dirt Jump - DJ</h1>
            <p>Това е един от най-екстремните начини за каране. Съкратено се отбелязва с латинските букви "DH". Представлява
                спускане по определено трасе, като целта е то да бъде преминато възможно най-бързо. </p>
        </div>



    </div>

</div>
<div class="fullWidthImg" style="background-image: url('../media/cyclingImg/dj2.jpg'); height:300px; backgroud-position: left"></div>

<div class="content">
<div class="wrapper">
    
        <p>
            Dirt Jump е Специфичен вид каране, при който се преодоляват скокове с две гърбици, изградени от пръст (оттам идва името на дисциплината) или от изкуствени материали и оформени така, че карачът да се издигне високо във въздуха, за да може да изпълнява там различни трикове. Идеята е взета от BMX карането, където подобен стил съществува от години. Едно от основните предимства на Dirt-скоковете е това, че могат да бъдат изградени и в рамките на населените места (в паркове, частни дворове, спортни зали и т.н., поради което са лесно достъпни. Карането по тях изисква специфични умения, както и по-особени велосипеди. 
        </p>

</div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JVUoyohf0xg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
<div class="wrapper">
        <img class="image-png" src="/media/cyclingImg/djBike.jpg" alt="Dirt Jump bike example">
    </div>
</div>
</div>