<style>
    .content p {
        border-left: 3px solid rgba(150, 96, 34, 0.644);
    }

    .video {
        background-color: rgba(150, 96, 34, 0.774);
    }
</style>

<div class="wrapper">
    <div id="article-container">
        <div id="main" align="center">
            <h1 style="border-color: rgba(150, 96, 34, 0.644)">Фрийрайд (freeride) FR</h1>
            <p>Спускане по скали, улеи, върхове, сипеи и други природни образувания, при което се кара без пътека и път и се
                избира свободно подходяща линия на движение. Този тип каране е свързано с преодоляване на падове, стръмни
                склонове и и различни други препятствия, част от които може да са предварително дооформени от фрийрайдърите,
                но като цяло теренът е изцяло естествен. Изкачването до началната точка обикновено става с бутане и носене
                на велосипеда. </p>
        </div>



    </div>

</div>
<div class="fullWidthImg" style="background-image: url('../media/cyclingImg/freeride.jpg'); background-position: center; height:600px"></div>

<div class="content">
    <div class="wrapper">
        <p>Фрийрайд (freeride) в буквален превод значи "свободно каране" и това е една от причините да бъде най-трудния за дефиниране
            стил, който през годините непрекъснато се променяше и продължава да го прави. Не се наемам да дам определение
            по подобие на тези за останалите видове каране, защото то би било изначално неточно. Затова ще изброя някои от
            нещата, които хората наричат фрийрайд. Общото между тях е, че при фрийрайда посоката на каране е надолу, адреналинът
            е висок, опасностите са много, велосипедите са способни да се справят с трудни терени, а защитната екипировка,
            както и при спускането, е доста сериозна и важна. </p>

    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PLppcNU-GjE" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="wrapper">
        <p>- Спускане по скали, улеи, върхове, сипеи и други природни образувания, при което се кара без пътека и път и се избира
            свободно подходяща линия на движение. Този тип каране е свързано с преодоляване на падове, стръмни склонове и
            и различни други препятствия, част от които може да са предварително дооформени от фрийрайдърите, но като цяло
            теренът е изцяло естествен. Изкачването до началната точка обикновено става с бутане и носене на велосипеда.
            </p>

        <p>- Преодоляване на едно или няколко трудни препятствия от типа на падове, скокове, дървени рампи и др. Могат да са
            както естествени, така и изкуствени. </p>

        <p>- Спускане по пътеки и черни пътища, при което не се кара за време, а само за удоволствие и по трасета, които не
            са предназначени изрично за спускане. </p>

        <p>- Каране по специални трасета за фрийрайд, които се различават от тези за спускане по това, че не са проектирани
            с идеята да се кара за време, а с цел да се преодоляват повече на брой и различни по трудност препятствия. Специфичен
            вид са и трасетата от типа North Shore, включващи различни дървени конструкции и предлагащи доста екстремно каране.
            Друга разновидност са трасетата за slopestyle, които изобилстват с различни скокове и падове, предназначени за
            изпълнението на разнообразни трикове по време на спускането. </p>

        <p>- Екстремно каране в градска среда, включващо скокове, падове, спускания и други такива изпълнения, като за терен
            се ползват стълбища, подлези, мостове, покриви и други елементи от градската среда. Велосипедите и екипиравката
            са като за фрийрайд, разликата е в това, че не се използва естествен терен. Някои наричат този тип каране urban
            (от англ. "градски"), но не бива да се бърка с т.нар. street, който също се практикува в градска среда, но по
            коренно различен начин. </p>

    </div>
    <div class="fullWidthImg" style="background-image: url('../media/cyclingImg/freeride2.jpg'); background-position: top; height:400px"></div>

    <div class="wrapper">
        <p>Съществува и понятието екстремен фрийрайд, което не означава различен вид каране, а просто практикуване на фрийрайда
            на най-високо ниво, в много случаи от професионалисти. Така например, ако за обикновен карач пад с височина 2-3
            метра е сериозно предизвикателство, има хора, които скачат по 7-8 метра или повече, и дори изпълняват трикове
            по време на скока.</p>
        <p>Фрийрайдът съществува и като състезателна дисциплина, но там проявите са с доста по-различен формат, тъй като целта
            в повечето случаи не е преминаване за време, а демонстриране на смелост, умения, чистота на карането и др.</p>
        <p>Особено популярни напоследък са състезанията по slopestyle, които започват да се оформят едва ли не като отделен
            вид каране и дисциплина. Не се наемам да направя точен превод, защото би трябвало да означава нещо като „стил
            по склона”. С други думи, това е състезание за показване на стил (така, както го разбират част от професионалните
            фрийрайдъри) при спускането надолу по склона. Основната идея е да се премине трасе с определен брой препятствия,
            като всяко от тях позволява различни начини на преодоляване и демонстрация на трикове. Включени са най-разнообразни
            елементи – дървени рампи високо над земята, скокове от типа Dirt Jump, при това с огромни размери, падове, виражи,
            т.нар.wallrides, и др. Оценяването на всеки състезател се извършва от жури, в което обикновено има отделни съдии
            за триковете, за плавното преминаване (без спирания, падания и др., които носят наказателни точки), за преминаване
            на препятствията, за цялостен стил и т.н. Всеки от тях присъжда определен брой точки, сумата от които формира
            крайния резултат. Често състезанието включва два манша, като се взима по-високият резултат или се сумират точките
            от двата рунда.</p>
        <p>От всичко казано дотук би трябвало да сте се убедили, че фрийрайдът е най-широк и размит като понятие. Едва ли ще
            се учудите като ви кажа, че само преди няколко години той включваше още повече неща, които постепенно се развиха
            в самостоятелни видове каране. Става дума например за Dirt Jump, street и др. </p>
        <img class="image-png" src="/media/cyclingImg/dhBike.jpg" alt="Freeride bike example">

    </div>
</div>