<link rel="stylesheet" href="/css/yt.css">

<div class="wrapper">
    <div id="article-container">
        <div id="main" align="center">
            <h1>YT - Живей без окови!</h1>
            <p>Това е историята на YT Industries - един от най-бързо развиващите се велопроизводители в последните години -
                и тя е добър пример за всеки, който иска да последва мечтите си, вместо да кара само по утъпканите от обществото
                пътеки.</p>
        </div>

        <div id="content">
            <iframe width="560" height="500" src="https://www.youtube.com/embed/3KW6ofE5v9c?rel=0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen>
            </iframe>
            <p>
                Днес YT Industries e марка, популярна в цял свят, спонсор на някои от най-големите имена в спорта, с продажби за милиони
                в десетки държави. Преди десет години обаче, когато Маркус Флосман създава първата серия Dirt Jump велосипеди,
                той изобщо не си е поставял подобни цели.
            </p>
            <p>
                Идеята за достъпен DJ твърдак го осенява на самите скокове, когато от младежите там разбира, че те просто не могат да си
                позволят марков велосипед от германски производител. Затова и името на компанията, която той създава, е Young
                Talent Industries.
            </p>
            <p>
                Едва след успеха на тази първа серия Маркус разбира, че идеята му има далеч по-голям потенциал от очакваното и решава да
                обърне гръб на подредения живот и предначертаното кариерно израстване, за да последва страстта си и да доразвие
                марката.
            </p>
            <p>
                По-късно, за да създаде и велосипеди с двойно окачване, Маркус привлича Щефан Виларед. Ражда се първият DH байк на компанията
                (спомням си, че аз лично едва тогава за първи път срещнах марката някъде из чуждестранните медии). Постепенно
                името YT започва да става разпознаваемо и извън Германия, а моделът с директни продажби през интернет, който
                компанията използва, се оказва все по-удобен и търсен от потребителите. Появяват се модели като Tues 2.0
                (за спускане) и Wicked (ендуро), а компанията привлича като спонсориран спортист един от най-популярните
                фрийрайдъри - испанеца Андреу Лакондеги.
            </p>
            <p>
                По-новата история на марката вече е добре позната на много от читателите ни - моделите Capra, Tues и Jeffsy са сред най-често
                обсъжданите варианти за покупка, водач на DH отбора YT Mob е петкратният носител на Световната купа Аарън
                Гуин, а както признава самият Флосман, разрастващият се екип на компанията е толкова зает с бъдещите проекти
                и текущата работа, че не им остава време да хвърлят поглед назад и да мислят какво са постигнали за тези
                десетина години.
            </p>
            <p>
                Във всички случаи обаче Маркус и колегите му се стремят да запазят онзи първоначален дух, онези ценности, които са го подтикнали
                да създаде YT. Компанията преследва успехите в състезанията и подкрепя някои от най-добрите карачи в света,
                но търси и младите таланти, които да израснат заедно с нея; старае се да прави велосипеди, които са сред
                най-добрите на пазара, но не забравя, че те трябва да са и достъпни за потребителите. YT продължава да пропагандира
                доброто каране, силните емоции и свободния дух, затова и този документален филм е кръстен по този начин.
            </p>
        </div>
    </div>

</div>